html, body {
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 3rem;
}

header, section {
    margin-bottom: 3rem;
}

h1, h2, h3 {
    font-weight: 700;
    color: #333333;
    display: inline-block;
}

h2, h3 {
    padding: 1rem;
    margin-left: -1rem;
    background-color: lightyellow;
}

h1 {
    background-color: transparent;
    font-size: 3rem;
}

h1 .big {
    background-color: yellow;
    padding: 1rem;
    margin-left: -1rem;
}

h1 .small {
    background-color: transparent;
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

img {
    width: 100%;
    height: auto;
}

figure img {
    margin-bottom: 8px;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}

a {
    color: magenta;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}






